<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--<appSettings>
    <add key="Provider" value="System.Data.SqlClient" />
    <add key="ManterConexao" value="False" />
    <add key="StringConexao" value="Data Source = CENTER; Initial Catalog = projet; Integrated Security = True" />
    <add key="Url" value="http://localhost/ListarClient" />
    <add key="Allow" value="*"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source = CENTER; Initial Catalog = projet; Integrated Security = True" />
  </connectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0" />
        <identity impersonate="false" />
  <!--<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-br"/>-->
    <globalization
       fileEncoding="iso-8859-1"
       requestEncoding="iso-8859-1"
       responseEncoding="iso-8859-1"
       culture="pt-BR"
       uiCulture="pt-BR"
    />
  </system.web>
    <!--<system.webServer>
        <httpErrors>
            <error statusCode="500" subStatusCode="19" path="/localhost/ListarClient.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>-->
</configuration>